Flask==2.0.2
Werkzeug==2.0.2
Jinja2==3.0.3
Flask-OAuth==0.12
oauth2==1.9.0.post1
httplib2==0.7.4
celery==3.1.12
honcho==0.5.0
requests==2.3.0
gunicorn==18.0
eventlet==0.33.0
newrelic==2.20.0.17
redis==4.1.2
